# The ID of your GitHub App
APP_ID=
WEBHOOK_SECRET=development

# Use `trace` to get verbose logging or `info` to show less
LOG_LEVEL=debug

# Go to https://smee.io/new set this to the URL that you are redirected to.
WEBHOOK_PROXY_URL=

# Set the paths for the static semantic merge tool
MERGER_PATH=
STATIC_SEMANTIC_MERGE_PATH=
GRADLE_PATH=
MAVEN_PATH=

# App Configuration
APP_ENV=
ANALYSIS_API=